body  {
    background: #1c1c1c;
    font-family: Verdana, sans-serif;
}

.headline h3 {
    font-size: 3.5em;
    color: #ffffff;
    margin-bottom: 10px;
    padding: 0;
}

.headline h4 {
    font-size: 2em;    
    color: #ffffff;
    margin: 10px;
    padding: 10px;
}

.headline h5 {
    font-size: 1em;    
    color: #ffffff;
    margin: 10px;
    padding: 10px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
  }

.audioButton {
    height: 30px;
    width: 50px;
    margin-left: 10px;
}

.audioTrack {
    border: #2e2e2e solid;    
    background-color: #1a1a1a;    
    color: #ffffff;
    border-radius: 10px;
    margin: 10px 0;
}

canvas {
    width: 1100px;
    height: 50px;
    padding: 0 6px;
    margin: 0 auto;
}

.audioRegulators {
    height: 150px;
    width: 430px;
    margin:10px 0;    
    padding: 10px 0;
    border: #2e2e2e solid;    
    background-color: #1a1a1a;    
    color: #ffffff;
    border-radius: 10px;
}

#audioRegulatorsAudioOne{
    margin-right: 20px;
}

#audioRegulatorsAudioTwo{
    margin-left: 20px;
}

.videoRegulators {
    height: 150px;
    width: 430px;
    margin: 10px 0;
    padding: 10px 0;
    border: #2e2e2e solid;    
    background-color: #1a1a1a;    
    color: #ffffff;
    border-radius: 10px;
}

#audioRegulatorsVideoOne{
    margin-right: 20px;
}

#audioRegulatorsVideoTwo{
    margin-left: 20px;
}

.switchesForAll{
    color: rgb(0, 0, 0);
}

.record{
    display: inline-block;
    width: 200px;
    height: 200px;
    background-image: url(https://pngimg.com/uploads/vinyl/vinyl_PNG5.png);
    background-size: cover;
    animation-name: rotation;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-play-state: paused;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/* .upload{    
    background-color: #1a1a1a;
    color: #ffffff;    
    border-radius: 10px; 
    margin: 10px 0;    
    padding: 10px;
} */







